<% include header %>
<body>
<nav>
<ul>
<%if(data.loginStat) {%>
<li><a href="#" >My Account</li>
<li><a href="/logout" >Logout</li>
<%}else{%>
<li><a href="/login" >Login</a></li>
<li><a href="/sign-up" >Sign Up</a></li>
<%}%>
</ul>
</nav>
</body>
<% include footer %>